@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Libre+Baskerville&display=swap');
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 50px;
}
.container2{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2rem 60vh 15rem 10rem 10rem;
  font-family: 'Libre Baskerville', serif; 
  color: #023f3a;
  overflow: hidden;
}
.container2 p{
  font-family: 'Josefin Sans', sans-serif;
  font-size: .4rem;
  color: gray;
}
.p3indexbox2{
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 22rem;
  /* height: 20rem; */
  /* gap: rem; */
  margin: 0rem 0 2rem 5rem;
}
.p3indexbox2 img{
  border-radius: .2rem;
}