@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Libre+Baskerville&display=swap');
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 50px;
}
.container {
  display: grid;
  background-color: white;
  /* height: 1rem; */
  /* width: 100vw; */
  grid-template-rows: 2rem 15rem 15rem 10rem 15rem 10rem 10rem 10rem 10rem;
  /* grid-gap: 0.5rem; */
  grid-template-columns: repeat(11, 1fr);
  align-items: center;
  overflow: hidden;
}

.header{
    grid-column-start: 1;
    grid-column-end: 12;
    display: contents;
}

.head {
  /* background-color: white; */
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 0.4rem;
}
.head:hover {
  transform: scale(1.1);
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 3;
  background-image: url("farmino.png");
  background-repeat: no-repeat;
  /* align-items:baseline; */
}
#fa {
  align-items: baseline;
}
.item2 {
  grid-column-start: 3;
  grid-column-end: 6;
}
.item6{
  text-decoration: none;
}
.btn {
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  background-color: #c13512;
  color: white;
  border: none;
}

.btn:hover {
  background-color: #d43007;
}
.indexbox1 {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 12;
    top: -3rem;
    position: relative;
    flex-direction: column;
}
.indexbox1 .part1 {
  background-color: #023f3a;
  color: white;
  height: 7rem;
  width: 100vw;
  padding-top: 0.6rem;
}
.part1heading {
  /* width: 11rem; */
  display: inline;
  text-align: center;
}

.part1heading p {
  font-size: 0.4rem;
  width: 18rem;
  padding: 0.2rem 0 0 7rem;
}
.indexbox1 .part2 {
  width: 100vw;
  height: 7rem;
  background-color: white;
}

.sec {
  background-color: #023f3a;
  border: 1px solid white;
  top: 0.5rem;
  left: 11rem;
  position: relative;
}

.thi {
  top: -0.7rem;
  left: 16rem;
  background-color: white;
  color: #023f3a;
}

.thi:hover {
  background-color: #c13512;
  color: white;
  transform: scale(1.1);
}
.sec:hover {
  background-color: #c13512;
  color: white;
  transform: scale(1.1);
}
.img2 {
  width: 17rem;
  height: 8rem;
  position: absolute;
  top: 6rem;
  display: flex;
  justify-content: center;
  place-self: center;
  border-radius: 1rem;
}
.indexbox2 {
  height: 10rem;
  display: grid;
  background-color: blue;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-start: 1;
  grid-column-end: 12;
}
.inbox2 {
  background-color: white;
  padding: .8rem 0 0 1rem;
  color: #023f3a;
}

.indexbox2 img{
    border-radius: 0.3rem;
}

.sample1{
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}
.sample4{
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: .4rem;
    color: rgb(63, 63, 63);
    font-family: 'Josefin Sans', sans-serif;
}
.sample2{
    grid-column-start: 3;
    grid-column-end: 5;
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 3;
}

.sample3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
    padding-left: 4rem;
}
.sample5{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
}
.labeling{
  font-size: .8rem;
  display: flex;
}
.indexbox3{
  height: 10rem;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows:2rem 8rem;
  /* background-color: blue; */
  grid-column-start: 1;
  grid-column-end: 12;
  position: relative;
  top: 0rem;
}
.inbox3{
  /* background-color: red; */
  padding-top: .2rem;
  place-items: center;
}
.inbox3 img{
  border-radius: 0.2rem;
}
.s1{
  grid-column-start: 1;
  grid-column-end: 4;
  font-family: 'Libre Baskerville', serif;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: #023f3a;
}
.s2{
  padding-left: 2rem;
  place-items: center;
}
.s3{
  padding-left: 1rem;
}
.indexbox4{
  height: 10rem;
  display: grid;
  grid-template-columns: repeat(13,1fr);
  grid-template-rows:repeat(4,1fr);
  background-color: blue;
  grid-column-start: 1;
  grid-column-end: 13;
  position: relative;
  top: 0rem;
  border: .05rem solid #023f3a;
  margin-left: .025rem;
}
.inbox4{
  background-color: #F2EEE9;
  padding-top: .2rem;
  font-size: 0.5rem;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  color: #023f3a;
}
.i1{
  grid-column-start: 1;
  grid-column-end: 14;
  font-family: 'Libre Baskerville', serif;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: #023f3a;
}

.i3{
  grid-column-start: 2;
  grid-column-end: 5;
  font-family: 'Josefin Sans', sans-serif;
  font-size: .4rem;
  text-align: center;
  color: gray;
}
.i5{
  grid-column-start: 6;
  grid-column-end: 9;
  font-family: 'Josefin Sans', sans-serif;
  font-size: .4rem;
  text-align: center;
  color: gray;
}
.i7{
  grid-column-start: 10;
  grid-column-end: 13;
  font-family: 'Josefin Sans', sans-serif;
  font-size: .4rem;
  text-align: center;
  color: gray;
}
.i24{
  grid-column-start: 2;
  grid-column-end: 5;
  font-family: 'Libre Baskerville', serif;
  font-size: .6rem;
  text-align: center;
}
.i26{
  grid-column-start: 6;
  grid-column-end: 9;
  font-family: 'Libre Baskerville', serif;
  font-size: .6rem;
  text-align: center;
}
.i28{
  grid-column-start: 10;
  grid-column-end: 13;
  font-family: 'Libre Baskerville', serif;
  font-size: .6rem;
  text-align: center;
}
.indexbox5{
  height: 10rem;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows:2rem 8rem;
  gap: .5rem;
  /* background-color: blue; */
  grid-column-start: 1;
  grid-column-end: 13;
  position: relative;
  top: 0rem;
  overflow: hidden;
}
.it1{
  grid-column-start: 1;
  grid-column-end: 7;
  font-family: 'Libre Baskerville', serif;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: #023f3a;
}

.indexbox5 img{
  border-radius: .2rem;
}

.indexbox6{
  height: 10rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: .5rem;
  background-color: #F2EEE9;
  grid-column-start: 1;
  grid-column-end: 13;
  position: relative;
  top: 0rem;
  overflow: hidden;
}
.inbox6{
  background-color: #F2EEE9;
  place-items: center;
}
.section1{
  padding: 1rem 1rem 1rem 2rem;
}

.section2{
  padding: 1.5rem;
  color: #023f3a;
}
.section2 p{
  font-size: .4rem;
  color: gray;
  padding-top: 1rem;
}
.indexbox7{
  height: 10rem;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,1fr);
  grid-column-start: 1;
  grid-column-end: 13;
  position: relative;
  top: 0rem;
  left: 2rem;
  /* background-color: blue; */
  /* overflow: hidden; */
}
.inbox7{
  /* background-color: red; */
  padding: 1rem;
  place-items: center;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-content: stretch;
  justify-content: space-around;
  align-items: flex-start;
}
.inbox7 p{
  font-size: .4rem;
  color: gray;
  font-family: 'Josefin Sans', sans-serif;
}
.inbox7 h6{
  font-size: .6rem;
  font-family: 'Libre Baskerville', serif; 
}
.element3{
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
  font-size: .4rem;
  /* color: ; */
  font-family: 'Josefin Sans', sans-serif; 
}
.element3 button{
  padding: .3rem 4.2rem .3rem 4.2rem;
  left: 0.05rem;
}
.footer{
  height: 10rem;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: 6rem 4rem;
  grid-column-start: 1;
  grid-column-end: 13;
  position: relative;
  top: 0rem;
  justify-content: space-around;
  /* left: 2rem; */
  background-color: #F8F6F4;
  /* overflow: hidden; */
}
.inbox8{
  /* background-color: red; */
  padding-top: 1rem;
  place-items: center;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-content: stretch;
  
  align-items: flex-start;
  place-items: center;
  font-family: 'Josefin Sans', sans-serif;
}
.inbox8 h6{
  font-size: .4rem;
  padding: .3rem;
}
.inbox8 p{
  font-size: .3rem;
  font-weight: bold;
  color: gray;
  padding: .15rem;
}
.unit6{
  grid-column-start: 1;
  grid-column-end: 6;
  padding: 0rem;
}



/* ---------------------------------------------------------page2-: why choose us ------------------------------------------------------------ */
.container1{
  display: grid;
  grid-template-rows: 2rem 10rem 18rem 15rem 13rem 10rem 10rem;
  grid-template-columns: repeat(1, 1fr);
  font-family: 'Libre Baskerville', serif; 
  color: #023f3a;
  overflow: hidden;
}
.container1 p{
  font-family: 'Josefin Sans', sans-serif;
  font-size: .4rem;
  color: gray;
}
.p2indexbox1{
  grid-column-start: 1;
  grid-column-end: 3;
}
.p2indexbox1 img{
  opacity: 90%;
}
.p2indexbox1 h3{
  color: white;
  position: relative;
  top: -5rem;
  left:11rem;
  width: 10rem;
  display: flex;
  place-content: center;
}
.p2indexbox2{
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  width: max-content;
  flex-direction: column;
  display: inline-block;
  padding: 0rem 0rem 2rem 8rem;
}
.p2indexbox1 img{
  width: 99vw;
  height: 50vh;
}
.p2indexbox3{
  background-color: #F2EEE9;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-start: 1;
  grid-column-end: 3;
  gap: 3rem;
  text-align: center;
  width: 66vw;
  padding: 3rem 5rem 0 5rem;
  /* margin: 0 0rem 0 0rem; */
}
.p2indexbox5{
  position: relative;
  top:0rem;
  height: 5rem;
  width: 31rem;
  /* display: flex; */
}
.p4{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: .5rem;
  height: 30vh;
  padding: .5rem 0 0 0.5rem;

}
.p41{
  grid-column-start: 1;
  grid-column-end: 6;
  padding-left: 1rem;
}
.p42{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  padding: 0 0 6rem 1rem;
  text-align: center;
}